<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
  <select id="checkID" 
  resultType="java.lang.String"
  parameterType = "java.lang.String">
   <![CDATA[
    SELECT USER_NAME 
    FROM USER_TABLE 
    WHERE USER_ID = #{user_id}
    ]]>
  </select>
  <insert id="addUserInfo" parameterType="com.tjoeun.spring.dto.UserDTO">
    <![CDATA[
      INSERT INTO USER_TABLE VALUES(USER_SEQ.NEXTVAL, #{user_name}, #{user_id}, #{user_pw})
    ]]>
  </insert>
  
  <select id="getLoginUser" 
  parameterType="com.tjoeun.spring.dto.UserDTO" 
     resultType="com.tjoeun.spring.dto.UserDTO">
    <![CDATA[
      SELECT USER_IDX, USER_NAME
      FROM USER_TABLE 
      WHERE USER_ID=#{user_id} AND USER_PW=#{user_pw}
    ]]>
  </select>
  
  <select id="getModifyUserDTO" 
  parameterType="java.lang.Integer"
   resultType="com.tjoeun.spring.dto.UserDTO" >
    <![CDATA[
      SELECT USER_ID, USER_NAME 
      FROM USER_TABLE 
      WHERE USER_IDX=#{user_idx}
    ]]>
   
  </select>
  
  <update id="modifyUserInfo"
    parameterType="com.tjoeun.spring.dto.UserDTO" >
    <![CDATA[
      UPDATE USER_TABLE
      SET USER_PW=#{user_pw}
      WHERE USER_IDX=#{user_idx}
     ]]>     
   </update>
          
</mapper>













  
  
  
  
  
  
  
  