<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test_database">
	<insert id="insert_data" parameterType="com.tjoeun.spring.bean.DataDTO1">
		<![CDATA[
			insert into spmvc values(#{name}, #{id}, #{passwd})
		]]>	
	</insert>
	
	<select id="select_data" resultType="com.tjoeun.spring.bean.DataDTO1">
		<![CDATA[
			select name, id, passwd from spmvc
		]]>	
	</select>
</mapper>

<!-- https://mybatis.org/mybatis-3/ko/configuration.html -->