<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd"
 default-autowire="byName"
   >
   
  <bean id="test1" class="com.tjoeun.spring.bean.TestBean1">
  	<property name="p1" ref="person1"></property>
  	<property name="p2" ref="person1"></property>
  </bean>
  
  <bean id="person1" class="com.tjoeun.spring.bean.Person" scope="prototype">
  	<property name="name" value="이순신"></property>
  	<property name="age" value="45"></property>
  </bean>
  
  <bean id="test2" class="com.tjoeun.spring.bean.TestBean1" autowire="byName"/>  
  <bean id="p1" class="com.tjoeun.spring.bean.Person"/>
  <bean id="p2" class="com.tjoeun.spring.bean.Person"/>
  
  <bean id="test3" class="com.tjoeun.spring.bean.TestBean2" autowire="byType"/> 
  <bean id="person2_1" class="com.tjoeun.spring.bean.Person2"/>
  <!-- <bean id="person2_2" class="com.tjoeun.spring.bean.Person2"/> -->
  
  <bean id="test4" class="com.tjoeun.spring.bean.TestBean3">
  	<constructor-arg ref="person2_1" index="0"/>
  	<constructor-arg ref="person2_1" index="1"/>
  </bean> 
  
  <bean id="test5" class="com.tjoeun.spring.bean.TestBean3" autowire="constructor"/>
  
  <bean id="test6" class="com.tjoeun.spring.bean.TestBean3">
  	<constructor-arg value="111" index="0" type="int"/>
  	<constructor-arg value="hello" index="1" type="java.lang.String"/>
  	<constructor-arg ref="person2_1" index="2"/> 
  	<constructor-arg ref="person2_1" index="3"/>
  </bean>
  
  <bean id="test7" class="com.tjoeun.spring.bean.TestBean3" autowire="constructor">
  	<constructor-arg value="333" index="0" type="int"/>
  	<constructor-arg value="bye" index="1" type="java.lang.String"/>
  </bean>
  
  <bean id="test8" class="com.tjoeun.spring.bean.TestBean1"/>
  
  <bean id="test9" class="com.tjoeun.spring.bean.TestBean1" autowire="no"/>
  
</beans>